@charset "utf-8";

*{
    margin : 0 auto;
    padding : 0;
}
a{
    display : block;
    text-decoration: none;
}
body{
    width: 1200px;
    height: 700px;
    color: #333;
    background-color: #fff;
}
.top{
    width: 1200px;
    height: 100px;
    
}
.logo1{
    width: 200px;
    height: 100px;
    float: left;
    background-color: #153448;
}
.menu1{
    width: 1000px;
    height: 100px;
    float: left;
    background-color: #3C5B6F;
}
.imgslide{
    width: 1200px;
    height: 300px;
    float: left;
    background-color: #948979;
}
.contents{
    width: 1200px;
    height: 200px;
    float: left;
}
.nogal{
    width: 400px;
    height: 200px;
    float: left;
    background-color: #DFD0B8;
}
.banner{
    width: 400px;
    height: 200px;
    float: left;
    background-color: #E4C59E;
}
.sc{
    width: 400px;
    height: 200px;
    float: left;
    background-color: #AF8260;
}
.bottom{
    width: 1200px; height: 100px;float: left;
}
.logo2{
    width: 200px;
    height: 100px;
    float: left;
    background-color: #803D3B;
}
.copy{
    width: 800px;
    height: 100px;
    float: left;
    background-color: #322C2B;
}
.sns{
    width: 200px;
    height: 100px;
    float: left;
    background-color: #4F6F52;
}